<%-include ('./layouts/header.ejs') %>
    <!-- Breadcrumb Section End -->

    <!-- Shop Section Begin -->
    <section class="shop spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="shop__sidebar">
                        <div class="shop__sidebar__search">
                            <form action="#">
                                <input type="text" placeholder="Search...">
                                <button type="submit"><span class="icon_search"></span></button>
                            </form>
                        </div>
                        <div class="shop__sidebar__accordion">
                            <div class="accordion" id="accordionExample">
                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseOne">Categories</a>
                                    </div>
                                    <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__categories">
                                                <ul class="nice-scroll">
                                                    <% category.forEach(element => { %>
                                                        <li><a onclick="searchCategory('<%= element._id %>')"><%= element.name %></a></li>
                                                    <% }) %>
                                                    

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseTwo">Search By</a>
                                    </div>
                                    <div id="collapseTwo" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__brand">
                                                <ul>
                                                    <li><a href="/category/?id=<%= findCat._id%>&sort=lowtohigh">Low To High</a></li>
                                                    <li><a href="/category/?id=<%= findCat._id%>&sort=hightolow">High To Low</a></li>
                                                    <li><a href="/category/?id=<%= findCat._id%>&sort=aAzZ">aA-zZ</a></li>
                                                    <li><a href="/category/?id=<%= findCat._id%>&sort=zZaA">zZ-aA</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <!-- <div class="shop__product__option">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="shop__product__option__left">
                                   
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="shop__product__option__right">
                                    <p>Sort by Price:</p>
                                    <select id="sort" onchange="applySorting()">
                                        <option value="low-to-high">Low To High</option>
                                        <option value="high-to-low">High To Low</option>
                                        <option value="a-Z">aA-zZ</option>
                                        <option value="z-A">zZ-aA</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div> -->
                <div class="col-lg-12">
                   
                    <div class="row">
                        <% product.forEach(element => { %> 
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <a href="/productDetails/?id=<%= element._id %>">
                                <div class="product__item__pic set-bg" data-setbg="/uploads/<%=element.image[0]%>">
                                  
                                </div></a>
                                <div class="product__item__text">
                                    <h6><%= element.name %></h6>
                                    <a href="/cart" class="add-cart">+ Add To Cart</a>
                                    <div class="rating">
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>
                                    <h5>₹<%= element.price.salesPrice %> <span><%= element.price.regularPrice %></span></h5>
                                    <% if(element.price.salesPrice){%>
                                        <% var percentage = (element.price.regularPrice - element.price.salesPrice)/element.price.regularPrice*100 %>
                                    <span><%= percentage.toFixed(0) %>% OFF</span>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                        <% }) %>
                        
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="product__pagination"> 
                                <% for( let i = 1; i <= numofPage; i++ ) { %>
                                    
                                    <a class="active" href="/category?id=<%= catid %>&page=<%= i %>"><%= i %></a>
                                  
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shop Section End -->
    <div class="containerabove"></div>
    <!-- Footer Section Begin -->
    <%-include('./layouts/footer.ejs')  %>
    <!-- Search End -->
<script>





    const inputElement = document.getElementById('input');
    let timeoutId;

    function debounce(func, delay) {
        return function () {
            clearTimeout(timeoutId);
            timeoutId = setTimeout(() => {
                func();
            }, delay);
        };
    }

    function showSearchResult() {
        const searchResult = document.querySelector('.search-result');
        searchResult.style.display = 'block';
    }

    function hideSearchResult() {
        const searchResult = document.querySelector('.search-result');
        searchResult.style.display = 'none';
    }

    function showNoProductFound() {
        const noProductFound = document.querySelector('.no-product-found');
        noProductFound.style.display = 'block';
    }

    function hideNoProductFound() {
        const noProductFound = document.querySelector('.no-product-found');
        noProductFound.style.display = 'none';
    }

    function SearchProduct() {
        const searchDataValue = inputElement.value.trim();


        if (searchDataValue !== "") {
            showSearchResult();
            debounce(() => {
                console.log(searchDataValue)
                $.ajax({
                    url: "/search",
                    method: "post",
                    data: {
                        searchDataValue
                    },
                    success: (response) => {
                        const searchResultsContainer = document.getElementById('searchResultsContainer')
                        searchResultsContainer.innerHTML = ""

                        if (response.searchProducts.length > 0) {
                            response.searchProducts.forEach(element => {
                                const productContainer = document.createElement('div');
                                productContainer.classList.add('product-container');

                                const productElement = document.createElement('div');
                                productElement.innerHTML = `
                                <a href="/productDetails/?id=${element._id}" class="product-link">
                                    <img src="/uploads/${element.image[0]}" alt="product">
                                    <div class="product-info">
                                        <p>${element.name}</p>
                                        <p>₹${element.price.salesPrice}</p>
                                    </div>
                                `;

                                productContainer.appendChild(productElement);
                                searchResultsContainer.appendChild(productContainer);
                            });
                            hideNoProductFound();
                        } else {
                            hideSearchResult();
                            showNoProductFound();
                        }
                    }
                })
            }, 500)();
        } else {
            hideSearchResult();
            hideNoProductFound();
        }
    }

    function searchCategory(categoryID){
        console.log('the category id is',categoryID);
        window.location.href = `/category?id=${categoryID}`
    }

</script>
<!-- <script>
    async function applySorting() {
        console.log('Sorting...');
        var selected = document.getElementById('sort').value;

        try {
            const response = await fetch(`/sort?sort=${selected}`);
            const data = await response.json();

            if (data.success) {
                const productContainer = document.querySelector('.col-lg-12 .row');
                productContainer.innerHTML = ''; // Clear existing products

                data.sortedProducts.forEach(element => {
                    const productItem = document.createElement('div');
                    productItem.classList.add('col-lg-4', 'col-md-6', 'col-sm-6');
                    productItem.innerHTML = `
                        <div class="product__item">
                            <a href="/productDetails/?id=${element._id}">
                                <div class="product__item__pic set-bg" data-setbg="/uploads/${element.image[0]}"></div>
    
                            </a>
                            <div class="product__item__text">
                                <h6>${element.name}</h6>
                                <a href="/cart" class="add-cart">+ Add To Cart</a>
                                <div class="rating">
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                                <h5>₹${element.price.salesPrice} <span>${element.price.regularPrice}</span></h5>
                                ${element.price.salesPrice ? `<span>${((element.price.regularPrice - element.price.salesPrice) / element.price.regularPrice * 100).toFixed(0)}% OFF</span>` : ''}
                            </div>
                        </div>
                    `;
                    productContainer.appendChild(productItem);
                });
            }
        } catch (error) {
            console.error('Error fetching products:', error);
        }
    }
</script> -->




    <!-- Js Plugins -->
    <script src="/public/js/jquery-3.3.1.min.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
    <script src="/public/js/jquery.nice-select.min.js"></script>
    <script src="/public/js/jquery.nicescroll.min.js"></script>
    <script src="/public/js/jquery.magnific-popup.min.js"></script>
    <script src="/public/js/jquery.countdown.min.js"></script>
    <script src="/public/js/jquery.slicknav.js"></script>
    <script src="/public/js/mixitup.min.js"></script>
    <script src="/public/js/owl.carousel.min.js"></script>
    <script src="/public/js/main.js"></script>
</body>

</html>