
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Male-Fashion | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/public/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/public/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/public/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/public/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/public/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/public/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/public/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/public/css/style.css" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<style>

    .search-result {
        display: none;
        position: absolute;
        height: auto;
    }

    .no-product-found {
        position: absolute;
        display: none;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 10px;
    }

    #searchResultsContainer {
        background-color: rgb(255, 255, 255); 
        position: absolute;
        z-index: 1;
        width: 555px;
        flex-wrap: wrap;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
       
    }

    .product-container {
        width: 200px;
        margin: 10px;
        text-align: left;
    }

    .product-container img {
        margin-left: -2px;
        max-width: 20%;
        height: auto;
        transform: rotate(0deg);
        transition: transform 0.5s ease; 
       
    }

    .product-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -50px;
    }

    .product-info p {
        margin: 2px 0;
        margin-left: 40px;
        font-size: 10px;
        margin-top: 5px;
        color: black;
    }

  
    .rotate-90 {
        transform: rotate(90deg);
    }

    .rotate-180 {
        transform: rotate(180deg);
    }

    .rotate-270 {
        transform: rotate(270deg);
    }
</style>
<body>
    <!-- Page Preloder -->
  
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__option">
            <div class="offcanvas__links">
                <% if(userID){%>
                    <a href="/logout">Log out</a>
                <%} else { %>
                    <a href="login">Log in</a>
                <%}%>
                
            </div>
            <div class="offcanvas__top__hover">
                <%if(userID){%>
                    <a href="/profile">
                        <span>Profile <i class="arrow_carrot"></i></span>
                    </a>
                <%} else {%>
                    <a href="login"></a>
                <% } %> 
            </div>
        </div>
        <div class="offcanvas__nav__option">
            <a href="#" class="search-switch"><img src="/public/img/icon/search.png" alt=""></a>
            <a href="/wishlist"><img src="/public/img/icon/heart.png" alt=""></a>
            <a href="/cart"><img src="/public/img/icon/cart.png" alt=""> <span>0</span></a>
            <div class="price"></div>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__text">
            <p>Free shipping, 30-day return or refund guarantee.</p>
        </div>
    </div>

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7">
                        <div class="header__top__left">
                            <p>Free shipping, 30-day return or refund guarantee.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-5">
                        <div class="header__top__right">
                            <div class="header__top__links">
                                <% if(userID){%>
                                    <a href="/logout">Log out</a>
                                <%} else { %>
                                    <a href="login">Log in</a>
                                <%}%>
                               
                            </div>
                            <div class="header__top__hover">
                                <%if(userID){%>
                                    <a href="/profile">
                                        <span>Profile <i class="arrow_carrot"></i></span>
                                    </a>
                                <%} else {%>
                                    <a href="login"></a>
                                <% } %> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
               
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <a href="./index.html"><img src="/public/adminassets/imgs/theme/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                   
                    <div class="search-style-2">
                           
                        <input type="text" id="input" style="width: 100%;margin-top: 5px;" placeholder="Search" onkeyup="SearchProduct()">
                        
                       <div class="search-result">

                           <div id="searchResultsContainer">

                           </div>

                       </div> 

                       <h5 class="no-product-found">No products found</h5>
                      
                           
                    </div>
                    <nav class="header__menu mobile-menu">
                        
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li class=""><a href="/shop">Shop</a></li>
                            <li><a href="./contact.html">Contacts</a></li>
                        </ul>
                    </nav>
                    
                </div>
             
                <div class="col-lg-3 col-md-3">
                
                    <div class="header__nav__option"> 
                        
                        <a href="/wishlist"><img src="/public/img/icon/heart.png" alt=""></a>
                        <a href="/cart"><img src="/public/img/icon/cart.png" alt=""> <span></span></a>
                        <div class="price"></div>
                    </div>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Breadcrumb Section Begin -->
    <!-- <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Shop</h4>
                        <div class="breadcrumb__links">
                            <a href="./index.html">Home</a>
                            <span>Shop</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="hero__slider owl-carousel">
            <div class="hero__items set-bg" data-setbg="/public/img/hero/hero-1.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-5 col-lg-7 col-md-8">
                            <div class="hero__text">
                                <!-- <h6>Summer Collection</h6> -->
                                <h2>UNVEIL YOUR STYLE,
                                    EMBRACE INDIVIDUALITY</h2>
                                <p>Dress well, live well. Discover the perfect blend of fashion and function in our exclusive men's collection</p>
                                <a href="/shop" class="primary-btn">Shop now <span class="arrow_right"></span></a>
                                <div class="hero__social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero__items set-bg" data-setbg="/public/img/hero/hero-2.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-5 col-lg-7 col-md-8">
                            <div class="hero__text">
                                <!-- <h6>Summer Collection</h6> -->
                                <h2>UNVEIL YOUR STYLE,
                                    EMBRACE INDIVIDUALITY</h2>
                                <p>Dress well, live well. Discover the perfect blend of fashion and function in our exclusive men's collection</p>
                                <a href="/shop" class="primary-btn">Shop now <span class="arrow_right"></span></a>
                                <div class="hero__social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Banner Section Begin -->
    <section class="banner spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 offset-lg-4">
                    <div class="banner__item">
                        <div class="banner__item__pic">
                            <img src="/public/img/banner/banner-1.jpg" alt="">
                        </div>
                        <div class="banner__item__text">
                            <h2>Clothing Collections 2030</h2>
                            <a href="#">Shop now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="banner__item banner__item--middle">
                        <div class="banner__item__pic">
                            <img src="/public/img/banner/769506_ZAQDA_1060_002_100_0000_Light-GG-nylon-jacquard-shorts.jpg.avif" alt="">
                        </div>
                        <div class="banner__item__text">
                            <h2>Stylish</h2>
                            <a href="#">Shop now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="banner__item banner__item--last">
                        <div class="banner__item__pic">
                            <img src="/public/img/banner/771758_XJGIB_1128_002_100_0000_Light-Cotton-jersey-printed-T-shirt.jpg.avif" alt="">
                        </div>
                        <div class="banner__item__text">
                            <h2> Spring 2030</h2>
                            <a href="#">Shop now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner Section End -->

    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="filter__controls">
                        <a href=""><li class="active" data-filter="*">Popularity</li></a>
                        <li></li>
                        <li></li>
                        <a href="/?item=newarrival"><li  data-filter=".new-arrivals"> New Arrivals</li></a>
                        <!-- <li>  </li>
                        <a href=""><li data-filter=".hot-sales">Hot Sales</li></a> -->
                    </ul>
                </div>
            </div>
            <div class="row product__filter">
                <%if(locals.product){ %>
                    <% locals.product.forEach (element => { %>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
                        <div class="product__item">
                            <a href="/productDetails/?id=<%= element._id %>">
                            
                                <div class="product__item__pic set-bg" data-setbg="/uploads/<%=element.image[0]%>">                     
                            </div></a>
                            <div class="product__item__text">
                                <h6><%= element.name %></h6>
                                <a href="" class="add-cart">+ Add To Cart</a>
                                <div class="rating">
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                                <h5>Rs:<%= element.price.salesPrice %><span><%=element.price.regularPrice %></span></h5>
                                <% if(element.price.salesPrice){%>
                                    <% var percentage = (element.price.regularPrice - element.price.salesPrice)/element.price.regularPrice*100 %>
                                <span><%= percentage.toFixed(0) %>% OFF</span>
                                <% } %>
                                <div class="product__color__select">
                                    <!-- <label for="pc-1">
                                        <input type="radio" id="pc-1">
                                    </label>
                                    <label class="active black" for="pc-2">
                                        <input type="radio" id="pc-2">
                                    </label>
                                    <label class="grey" for="pc-3">
                                        <input type="radio" id="pc-3">
                                    </label> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <% }) }%>
            </div>
        </div>
    </section>
    <!-- Product Section End -->

    <!-- Categories Section Begin -->
    <section class="categories spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="categories__text">
                        <h2>Clothings Hot <br /> <span>Show Collection</span> <br /> Accessories</h2>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="categories__hot__deal">
                        <!-- <img src="/public/img/" alt="">
                        <div class="hot__deal__sticker">
                            <span>Sale Of</span>
                            <h5>$29.99</h5>
                        </div> -->
                    </div>
                </div>
                <div class="col-lg-4 offset-lg-1">
                    <div class="categories__deal__countdown">
                        <span>Deal Of The Week</span>
                        <h2>Multi-pocket Chest Bag Black</h2>
                        <div class="categories__deal__countdown__timer" id="countdown">
                            <div class="cd-item">
                                <span>3</span>
                                <p>Days</p>
                            </div>
                            <div class="cd-item">
                                <span>1</span>
                                <p>Hours</p>
                            </div>
                            <div class="cd-item">
                                <span>50</span>
                                <p>Minutes</p>
                            </div>
                            <div class="cd-item">
                                <span>18</span>
                                <p>Seconds</p>
                            </div>
                        </div>
                        <a href="#" class="primary-btn">Shop now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Categories Section End -->

    <!-- Instagram Section Begin -->
    <section class="instagram spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="instagram__pic">
                        <div class="instagram__pic__item set-bg" data-setbg="/public/img/instagram/instagram-1.jpg"></div>
                        <div class="instagram__pic__item set-bg" data-setbg="/public/img/instagram/instagram-2.jpg"></div>
                        <div class="instagram__pic__item set-bg" data-setbg="/public/img/instagram/instagram-3.jpg"></div>
                        <div class="instagram__pic__item set-bg" data-setbg="/public/img/instagram/instagram-4.jpg"></div>
                        <div class="instagram__pic__item set-bg" data-setbg="/public/img/instagram/instagram-5.jpg"></div>
                        <div class="instagram__pic__item set-bg" data-setbg="/public/img/instagram/instagram-6.jpg"></div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="instagram__text">
                        <h2>Instagram</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.</p>
                        <h3>#Male_Fashion</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Instagram Section End -->

    <!-- Latest Blog Section Begin -->
    <section class="latest spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>Latest News</span>
                        <h2>Fashion New Trends</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic set-bg" data-setbg="/public/img/blog/blog-1.jpg"></div>
                        <div class="blog__item__text">
                            <span><img src="/public/img/icon/calendar.png" alt=""> 16 February 2020</span>
                            <h5>What Curling Irons Are The Best Ones</h5>
                            <a href="#">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic set-bg" data-setbg="/public/img/blog/blog-2.jpg"></div>
                        <div class="blog__item__text">
                            <span><img src="/public/img/icon/calendar.png" alt=""> 21 February 2020</span>
                            <h5>Eternity Bands Do Last Forever</h5>
                            <a href="#">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic set-bg" data-setbg="/public/img/blog/blog-3.jpg"></div>
                        <div class="blog__item__text">
                            <span><img src="/public/img/icon/calendar.png" alt=""> 28 February 2020</span>
                            <h5>The Health Benefits Of Sunglasses</h5>
                            <a href="#">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Latest Blog Section End -->
<div class="containerabove"></div>
    <!-- Footer Section Begin -->
    <%-include('./layouts/footer.ejs')  %>

    <!-- Js Plugins -->
    <script src="/public/js/jquery-3.3.1.min.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
    <script src="/public/js/jquery.nice-select.min.js"></script>
    <script src="/public/js/jquery.nicescroll.min.js"></script>
    <script src="/public/js/jquery.magnific-popup.min.js"></script>
    <script src="/public/js/jquery.countdown.min.js"></script>
    <script src="/public/js/jquery.slicknav.js"></script>
    <script src="/public/js/mixitup.min.js"></script>
    <script src="/public/js/owl.carousel.min.js"></script>
    <script src="/public/js/main.js"></script>
    <!-- Add this in the head section of your HTML file -->


</body>

</html>