<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>STAG MEN FASHION</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/public/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/public/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/public/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/public/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/public/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/public/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/public/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/public/css/style.css" type="text/css">
    <link href="/public/adminassets/css/main.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/public/assets/css/maind134.css?v=3.4">
</head>
<style>
    .btn-customized{
        color: #000;
        background-color: #f3f2ee;
        border: none;
        font-weight: bold;
    }
    .btn-customized.disabled{
        background-color: #f8f8f8;
        opacity: 50%;
    }
</style>

<body>
    <!-- Page Preloder
    <div id="preloder">
        <div class="loader"></div>
    </div> -->

   <!-- Offcanvas Menu Begin -->
   <div class="offcanvas-menu-overlay"></div>
   <div class="offcanvas-menu-wrapper">
       <div class="offcanvas__option">
           <div class="offcanvas__links">
               <% if(userID){%>
                   <a href="/logout">Log out</a>
               <%} else { %>
                   <a href="login">Log in</a>
               <%}%>
              
           </div>
           <div class="offcanvas__top__hover">
               <%if(userID){%>
                   <a href="/profile">
                       <span>Profile <i class="arrow_carrot"></i></span>
                   </a>
               <%} else {%>
                   <a href="login"></a>
               <% } %> 
           </div>
       </div>
       <div class="offcanvas__nav__option">
           <a href="#" class="search-switch"><img src="/public/img/icon/search.png" alt=""></a>
           <a href="/wishlist"><img src="/public/img/icon/heart.png" alt=""></a>
           <a href="/cart"><img src="/public/img/icon/cart.png" alt=""> <span>0</span></a>
           <div class="price"></div>
       </div>
       <div id="mobile-menu-wrap"></div>
       <div class="offcanvas__text">
           <p>Free shipping, 30-day return or refund guarantee.</p>
       </div>
   </div>
   <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7">
                        <div class="header__top__left">
                            <p>Free shipping, 30-day return or refund guarantee.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-5">
                        <div class="header__top__right">
                            <div class="header__top__links">
                                <% if(userID){%>
                                    <a href="/logout">Log out</a>
                                <%} else { %>
                                    <a href="login">Log in</a>
                                <%}%>
                               
                            </div>
                            <div class="header__top__hover">
                                <%if(userID){%>
                                    <a href="/profile">
                                        <span>Profile <i class="arrow_carrot"></i></span>
                                    </a>
                                <%} else {%>
                                    <a href="login"></a>
                                <% } %> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <a href="./index.html"><img src="/public/adminassets/imgs/theme/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li class=""><a href="/shop">Shop</a></li>
                            <li><a href="#">Pages</a>
                                
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="header__nav__option">
                        <a href="#" class="search-switch"><img src="/public/img/icon/search.png" alt=""></a>
                        <a href="/wishlist"><img src="/public/img/icon/heart.png" alt=""></a>
                        <a href="/cart"><img src="/public/img/icon/cart.png" alt=""></a>
                        <div class="price"></div>
                    </div>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>
    <!-- Header Section End -->

        <!-- Breadcrumb Section Begin -->
        <section class="breadcrumb-option">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="breadcrumb__text">
                            <h4>Shopping Wishlist</h4>
                            <div class="breadcrumb__links">
                                <a href="./index.html">Home</a>
                                <a href="./shop.html">Shop</a>
                                <span>Wishlist</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Breadcrumb Section End -->

        <section class="mt-50 mb-50">
            <% if(!locals.wishlist||wishlist.items.length == 0 ){%> 
                <div  id="text-center" style="text-align:center"><h4>Wishlist is Empty!!! Please add items to the Wishlist</h4></div>
            
                <%}else{%>
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="table-responsive">
                                    <table class="table shopping-summery text-center">
                                        <thead>
                                            <tr class="main-heading">
                                                <th scope="col" colspan="2">Product</th>
                                                <th scope="col">Price</th>
                                                <th scope="col">Stock Status</th>
                                                <th scope="col">Action</th>
                                                <th scope="col">Remove</th>
                                            </tr>
                                        </thead>
                                        <tbody>
        
                                            <% wishlist.items.forEach(element =>{ %> 
                                            <tr>
                                                <td class="image product-thumbnail">
                                                <div class="product__cart__item__pic">
                                                    <img src="/uploads/<%= element.product.image[0] %>"  class="img-sm img-thumbnail" alt="">
                                                </div>
                                                </td>
                                                <td class="product-des product-name">
                                                    <h5 class="product-name"><a href="shop-product-right.html"><%= element.product.name %></a></h5>
                                                    <p class="font-xs">Maboriosam in a tonto nesciung eget<br> distingy magndapibus.
                                                    </p>
                                                </td>
                                                <td class="price" data-title="Price"><span><%= element.product.price.salesPrice %></span></td>
                                                <td class="text-center" data-title="Stock">
                                                    <span class="color3 font-weight-bold">In Stock</span>
                                                </td>
                                                <td class="text-right" data-title="Cart">
                                                    <a href="/"><button class="btn btn-sm"><i class="fi-rs-shopping-bag mr-5"></i>Add to cart</button></a>
                                                </td>
                                                <td><i class="fi-rs-trash" onclick="removeFromWishlist(`<%= element.product._id %>`)"></i></td>
                                            </tr>
                                            <% }) %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                <%}%>
           
        </section>

    <div class="containerabove"></div>
    <!-- Footer Section B
        egin -->
        <%-include('./layouts/footer.ejs')  %>
    
    <script>
        function removeFromWishlist(productID){
            fetch('/removewishlist',{
                method:'PATCH',
                headers:{
                    'Content-Type':'application/json'
                },
                body:JSON.stringify({productID})
            })
            .then(response=>response.json())
            .then(data=>{
                if(data.success){
                    window.location.reload()
                }
            })
        }
    </script>
      
    <!-- Js Plugins -->
    <script src="/public/js/jquery-3.3.1.min.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
    <script src="/public/js/jquery.nice-select.min.js"></script>
    <script src="/public/js/jquery.nicescroll.min.js"></script>
    <script src="/public/js/jquery.magnific-popup.min.js"></script>
    <script src="/public/js/jquery.countdown.min.js"></script>
    <script src="/public/js/jquery.slicknav.js"></script>
    <script src="/public/js/mixitup.min.js"></script>
    <script src="/public/js/owl.carousel.min.js"></script>
    <script src="/public/js/main.js"></script>
</body>

</html>